################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProMan2
/ProMan2/bin/Debug/net5.0
/ProMan2/obj
