<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <mat-card>
        <mat-card-header>
        <mat-card-title>Nowy projekt</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2>Dodaj projekt</h2>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Nazwa" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Pricing</mat-label>
                <input matInput placeholder="Wycena" formControlName="pricing">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Opis" formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Deadline</mat-label>
                <input matInput placeholder="Deadline" formControlName="deadline">
            </mat-form-field>            
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary">Dodaj</button>
        </mat-card-actions>
    </mat-card>
</form>
